.HotelManager {
    padding: 1em;
    margin-bottom: 1.5em;
    box-shadow: 0 .5em .5em lightgray;
}
.HotelManager__header {
    display: flex;
    align-items: center;
}
.HotelManager__header-end {
    margin-left: auto;
}
.HotelManager__header-title {
    font-size: 1em;
}
.HotelManager__header-field {
    margin-left: 1em;
}

