
@supports (display: grid) {
    @media only screen and (min-width: 800px) {
        .search-form {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }
    @media only screen and (min-width: 1000px) {
        .search-form {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
    }
    @media only screen and (min-width: 1200px) {
        .search-form {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }
    }
}
.search-form__fields {
    display: contents;
}

.search-form__fields label {
    font-weight: 500;
    display: block;
}

.search-form > .search-form__fields > label > input,
.search-form > .search-form__fields select {
    display: block;
    width: 80%;
    margin: 0 auto;
}

.hotel-search-result__head {
    border-bottom: green solid .2em;
}

.booking-modal-body {
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 800px) {
    .booking-modal-body {
        flex-direction: row;
    }
    .booking-modal__payment-info {
        max-width: 50%;
    }
}

.booking-modal__actions {
    display: flex;
    justify-content: center;
}