.primary-nav-link__list {
    list-style: none;
    padding-left: 0;
    font-size: 2em;
    text-align: center;
}
.primary-nav-link {
    display: inline-block;
}
@media only screen and (min-width: 800px) {
    .primary-nav-link__list {

    }
}
.primary-nav-link .btn {
    text-decoration: none;
    display: inline-block;
}