.hotel-chain-section__head {
    padding: .5em 1.5em 1em 1.5em;
    background-color: green;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 1em;
    box-shadow: 0 0.5em 1em rgba(0,128,0, .2);
    position: relative;
}

.hotel-chain-section__head:hover .x-icon,
.hotel-chain-section__head:focus-within .x-icon {
    opacity: 1;
}

.hotel-chain-section__head__actions {
    display: flex;
    flex-direction: column;
}

.confirm-deletion-input {
    border: .2em dashed grey;
    padding: .25em;
}

.confirm-deletion-input:focus {
    outline: none;
    border-color: green;
}

.hotel-chain-section__title {
    margin: .25em 0;
}


.hotel-card__head {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 1em;
}

.hotel-card__title {
    margin: 0;
}

.hotel-card__actions {
    display: flex;
    justify-content: center;
}

.hotel-card__room-table {
    min-width: 100%;
    border-collapse: collapse;
}

.hotel-card__room-table__head {
    color: white;
    background-color: green;
}