html, body {
    background-color: whitesmoke;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.spinner::after {
    content: "";
    width: 1em;
    height: 1em;
    display: inline-block;
    animation: spin 0.75s infinite linear;
    border: 0.1em solid green;
    border-left: none;
    border-top: none;
    border-radius: 50%;
    cursor: wait;
}
.banner {
    padding: 2em;
    background-color: green;
    color: white;
}
.banner__heading-link {
    margin: 0;
    text-decoration: none;
    color: white;
}
.banner__heading {
    margin: 0;
}
.main-content {
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
    padding: 1em;
}
.btn {
    font-size: 1.1em;
    color: green;
    background-color: transparent;
    border: .1em solid green;
    border-radius: .33em;
    padding: .3em .7em .45em;
    margin: 0 .5em;
    cursor: pointer;
    font-variant: small-caps;
    font-weight: 500;
    transition-duration: 0.4s;
    -webkit-transition-property: transform, box-shadow, color, background-color;
    -moz-transition-property: transform, box-shadow, color, background-color;
    -o-transition-property: transform, box-shadow, color, background-color;
    transition-property: transform, box-shadow, color, background-color;
}
.btn:hover, .btn:focus, .btn.fill {
    color: white;
    background-color:green;
    outline: none;
}
.btn.fill:focus, .btn.fill:hover {
    box-shadow: 0 .2em .5em rgba(0,128,0,.4);
    transform: translate(0, -.1em);
}
.add-btn::before {
    content: "+ "
}
.hidden-option {
    display: none;
}