@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.spinner::after {
    content: "";
    width: 1em;
    height: 1em;
    display: inline-block;
    animation: spin 0.75s infinite linear;
    border: 0.1em solid slateblue;
    border-left: none;
    border-top: none;
    border-radius: 50%;
    cursor: wait;
}
