html, body, #root {
    background-color: whitesmoke;
    height: 100%;
}

@keyframes spin {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

.spinner::after {
    content: "";
    width: .75em;
    height: .75em;
    display: inline-block;
    animation: spin 0.75s infinite linear;
    border: 0.1em solid green;
    border-left: none;
    border-top: none;
    border-radius: 50%;
    cursor: wait;
}

.spinner-inverse::after {
    border-color: white;
}

.banner {
    padding: 1em 2em;
    background-color: green;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner .btn {
    border-color: white;
    background-color: transparent;
    color: white;
}

.banner .spinner::after {
    border-color: white;
}

.banner__heading-link {
    margin: 0;
    text-decoration: none;
    color: white;
}

.banner__actions {
    display: flex;
    margin: 0;
}

.banner__heading {
    margin: 0;
    max-width: 66vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.breadcrumbs li + li:before {
    content: "/\00a0";
    margin: .25em;
}

.main-content {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 1em;
}

.main-content--clear {
    background-color: transparent;
}

@media only screen and (min-width: 1300px) {
    .main-content {
        max-width: 1200px;
    }
}

@media only screen and (min-width: 1100px) {
    .main-content {
        max-width: 1000px;
    }
}

.btn {
    display: inline-block;
    font-size: 1.1em;
    text-decoration: none;
    color: green;
    background-color: white;
    border: .1em solid green;
    border-radius: .33em;
    padding: .15em .7em .45em;
    margin: .5em .5em .5em;
    cursor: pointer;
    font-variant: small-caps;
    font-weight: 500;
    transition-duration: 0.4s;
    -webkit-transition-property: transform, color, background-color;
    -moz-transition-property: transform, color, background-color;
    -o-transition-property: transform, color, background-color;
    transition-property: transform, color, background-color;
}

.btn:disabled {
    color: grey;
    border-color: grey;
    cursor: default;
}

.btn.btn--inverse {
    color: white;
    background-color: green;
    border-color: white;
}

.btn.btn--inverse:hover:not(:disabled), .btn.btn--inverse:focus {
    background-color: darkgreen;
}

.btn--inline {
    padding: 0 .35em .25em;
    margin: .25em;
}

.btn--char {
    font-size: .75em;
    padding: 0 .35em 0.2em;
    width: 1.75em;
    height: 1.75em;
    border-radius: 50%;
    margin: 0 .25em;
    font-weight: 900;
}

.btn:hover:not(:disabled), .btn:focus, .btn.fill {
    color: white;
    background-color: green;
    outline: none;
}

.btn.fill:disabled {
    background-color: grey;
}

.btn.fill:focus, .btn.fill:hover:not(:disabled) {
    background-color: darkgreen;
    border-color: darkgreen;
}

.add-btn::before {
    content: "+ "
}

.hidden-option {
    display: none;
}

.no-bullet {
    list-style: none;
    padding-left: 0;
}

.inline-list {
    margin: 0;
}

.rails {
    list-style: none;
    transition: border-color .4s ease;
    border-left: .1em dashed lightgray;
    padding-left: 1.5em;
}

.rails:hover, .rails:focus-within {
    border-left: .1em dashed #22aa22;
}

.nested-dl {
    width: max-content;
}

.nested-dl > dt {
    text-decoration: underline;
}

.nested-dl dt {
    font-weight: bold;
}

.nested-dl dd {
    margin-left: 1em;
}

.nested-dl dl {
    margin: 0;
}

.horizontal-dl {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 0;
}
.horizontal-dl > dt {
    font-weight: bold;
}
.horizontal-dl > dt:not(:first-child) {
    margin-left: auto;
}

.horizontal-dl > dd {
    margin-left: .5em;
    break-before: avoid;
}

.horizontal-scroll {
    overflow-x: auto;
    padding: 0 .2em 0 .2em;
}

.multi-col-dl {
    columns: 2;
}

@media only screen and (min-width: 800px) {
    .multi-col-dl {
        columns: 3;
    }
}

@media only screen and (min-width: 1000px) {
    .multi-col-dl {
        columns: 4;
    }
}

.multi-col-dl dt {
    font-weight: 500;
}

.multi-col-dl dd {
    break-before: avoid;
    margin-left: 1em;
}

.row-top {
    vertical-align: top;
}

.striped {
    background-color: white;
}

.striped:nth-child(even) {
    background-color: ghostwhite;
}

.striped:hover {
    background-color: whitesmoke;
}

.table-spaced {
    border-collapse: collapse;
}

.table-spaced th {
    padding: .2em .5em;
}

.table-spaced td {
    padding: .1em .5em;
}

.table-head {
    color: white;
    background-color: green;
}

@media only screen and (min-width: 800px) {
    .table-spaced th {
        padding: .4em 1em;
    }

    .table-spaced td {
        padding: .2em 1em;
    }
}

th.hidden-column {
    padding: 0;
    margin: 0;
}

.clickable-row {
    cursor: pointer;
}

.clickable-row.selected-row {
    outline: .2em dashed green;
    color: darkgreen;
}

.ReactModal__Body--open {
    overflow-y: hidden;
    padding-right: 17px;
}

.modal-fit-content {
    bottom: auto;
    left: 50%;
    padding: 2em;
    position: fixed;
    right: auto;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    max-width: 100vw;
    max-height: 100vh;
    overflow: auto;
}

.wrapper {
    display: contents;
}

.hidden {
    visibility: hidden;
}

.ReactModal__Overlay {
    background-color: rgba(0, 0, 0, .5) !important;
}

.expanding-list__btn {
    font-size: 1em;
    margin-left: 0;
}

.large-card {
    padding: 1em;
    margin-bottom: 1.5em;
    box-shadow: 0 .5em .5em lightgray;
    background-color: white;
}

.placeholder {
    display: none;
}

.placeholder:first-child:last-child {
    display: list-item;
}

.modal-actions {
    display: flex;
    justify-content: flex-end;
}
